<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622359657724-qp5dl9p06n5cdart29ekg1q225g6su7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622359657724-qp5dl9p06n5cdart29ekg1q225g6su7o</string>
	<key>API_KEY</key>
	<string>AIzaSyAx_YHFZGez1_cAiDg3BOjKMC4Bz3OvkCA</string>
	<key>GCM_SENDER_ID</key>
	<string>622359657724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smolP2Xixi</string>
	<key>PROJECT_ID</key>
	<string>login-survilance</string>
	<key>STORAGE_BUCKET</key>
	<string>login-survilance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622359657724:ios:9eb3c1b03854e13431ab79</string>
</dict>
</plist>